<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "sharerare", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "投稿", '#' %></li>
        <li><%= link_to "ログイン", '#' %>
      </ul>
    </nav>
  </div>
</header>
